<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="../script/password.js"></script>
<link rel="stylesheet" href="../style/login.css">

</head>

<body>
    <!-- <marquee>
    <h1 class="message">Loading...</h1>
</marquee> -->
    <header>

    </header>
    <main>
        <div class="login-box">
  <h2>Digite sua nova senha</h2>
  <div class="background">
    <img src="/src/images/logo.png" alt="" class="logo">
  </div>
  <form>

    <div class="user-box">
      <input type="password" name="" id="password" required="" name="password"  class="form-control" onkeyup="isGood(this.value)" >
      <small class="help-block" id="password-text"></small>
      <label>Repita sua senha</label>
    </div>

    <div class="user-box">
      <input type="password" name="repeat_password" id="repeat_password" required="">
      <label>Senha</label>
    </div>

    <div>
      <button>Alterar</button>
    </div>
  </form>
</div>
    </main>
</body>

</html>