@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-image: url("../images/fundinho.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  margin-top: 15px;
}

.background {
  position: absolute;
  top: -25%; 
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  width: 130px;
  height: auto;
}

.login-box {
  position: relative;
  width: 80vw;
  max-width: 700px;
  height: 400px;
  padding: 40px;
  background: #8ea772; /* Cor de fundo do formulário */
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(82, 81, 81, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
  margin-bottom: 30px;
}

.login-box .user-box input {
  width: 100%;
  font-size: 24px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  left: 0;
  color: #6B8A47; /* Cor do texto do label quando o input está focado ou preenchido */
  font-size: 12px;
}

.login-box form button {
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 200;
  height: 40px;
  width: 100px;
  background: #6B8A47; /* Cor de fundo do botão */
  cursor: pointer;
  margin-top: 20px;
}

div {
  /* width: 400px; */
  margin: auto;
  color: #293020;
}
.progress-bar {
  border-radius: 5px;
}

/* CORES PRA SENHA */
.bg-danger {
  color: #fff;
  background-color: #be5e53; 
}

.bg-warning {
  color: #fff;
  background-color: #d3a25a;
}

.bg-success {
  color: #fff;
  background-color: rgb(64, 139, 83);
}
