@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    background-color: #eeead6;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.navbar-color {
    background-color: #6B8A47;
}

.tittle-nav {
    background-color: #6B8A47;
    color: #FFFAF2;
    text-decoration: none;
    font-size: 25px;
}

.div-nav {
   display: flex;
   align-items: center;
   width: 100%; 
   height: 8vh;
}

main {
    height: 93vh;
}


.div-main {
    height: 90vh;
    display: flex;
    align-items: center;
        gap: 20px;
    justify-content: center;
}

/* .option {
    background-color: #A7C584;
    color: white;
    text-decoration: none;
    height: 100px;
    width: 300px;
    border: none;
    font-size: 20px;
} */

.card {
    padding: 50px;
    align-items: center;
    text-align: center;
    background-color: #FFFAF2;
    gap: 20px;
}

.card-body, .card-title, .card-img {
    background-color: #FFFFFF;
    text-decoration: none;
}

.logo {
    width: 55px;
    background-color: transparent;
    margin-left: 8px;
    margin-right: 8px;

}